@charset "uft-8";
/* fonts */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset  */
* {
  margin: 0;
  padding: 0;
  color: #000;
}
body {
  font-family: "NEXON Lv1 Gothic OTF";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  /* color: #fffbde; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  width: 100%;
  vertical-align: top;
}
video {
  height: 900px;
}
/* common  */
.container {
  width: 1160px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
/* 레이아웃 */
#wrap {
  width: 100%;
  position: relative;
}
/* header영역 */
#header {
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;
}
.header__inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 10;
  position: relative;
  justify-content: space-between;
  background-color: #ffffffb1;
}
.header__inner .logo {
  padding: 5px;
  box-sizing: border-box;
  margin-left: 20px;
}

.header__inner .nav ul {
  display: flex;
}

.header__inner .nav ul li a {
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: normal;
  transition: all 0.6s;
}
.header__inner .nav ul li a:hover {
  background-color: #00000011;
  border-radius: 10px;
  font-weight: bold;
  /* text-decoration: underline; */
}
.header__inner .nav ul li .br {
  color: #133e35;
  font-weight: bold;
  background-color: #00000011;
  border-radius: 10px;
  font-weight: bold;
}
.header__inner .nav ul li .br:hover {
  background-color: #fffbde;
}
.header__inner .log {
  width: 200px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #f4f4f4;
  margin-right: 20px;
  display: flex;
}
.header__inner .log img {
  width: 19px;
  margin-left: 10px;
  height: 20px;
}
.header__inner .log p {
  padding-left: 10px;
  font-size: 17px;
  color: #666;
}
/* contents */
#contents {
  margin-top: 200px;
  margin-bottom: 100px;
}
#contents > .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contents > .container .box:first-child {
  margin-top: 0;
}
#contents > .container .box:nth-child(2) {
  margin-top: 0;
}
#contents > .container .box:nth-child(3) {
  margin-top: 0;
}
.box {
  width: 372px;
  height: 497px;
  background-color: #f5f5f2;
  border-radius: 10px;
  margin-top: 24px;
  
}
.box img {
  width: 372px;
  height: 372px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  transition: 1s;
}
.box p {
  color: #133e35;
  margin-left: 20px;
  font-weight: bold;
}
.tittle {
  font-size: 18.2px;
  margin-top: 25px;
  font-weight: bold;
}
.sub {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}
#footer {
  width: 100%;
  height: 250px;
  margin-top: 200px;
  background-color: #000000;
  position: relative;
}
#footer img {
  width: 250px;
  margin-left: 20px;
  padding: 5px;
  padding-top: 2%;
}
#footer ul {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

#footer .name {
  padding-top: 20px;
}
#footer ul li {
  line-height: 1.1;
}
#footer ul li a {
  color: #b8b8b8;
  display: block;
  padding: 5px;
}
#footer .li1 a {
  padding: 5px;
}