@charset "uft-8";
/* fonts */
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* reset  */
* {
  margin: 0;
  padding: 0;
  color: #000;
}
body {
  font-family: "NEXON Lv1 Gothic OTF";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  /* color: #fffbde; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  width: 100%;
  vertical-align: top;
}
/* common  */
.container {
  width: 1260px;
  margin: 0 auto;

  /* border: 1px solid #000; */
}
/* 레이아웃 */
#wrap {
  width: 100%;

  /* display: flex; */
}
/* header영역 */
#header {
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  position: fixed;

  /* background-color: #00AE77; */
  /* background-color : #138444; */
}
.header__inner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 10;
  position: relative;
  justify-content: space-between;
}
.header__inner .logo {
  padding: 5px;
  box-sizing: border-box;
  margin-left: 20px;
}

.header__inner .nav ul {
  display: flex;
}

.header__inner .nav ul li a {
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  font-weight: normal;
  transition: all 0.6s;
}
.header__inner .nav ul li a:hover {
  background-color: #00000011;
  border-radius: 10px;
  font-weight: bold;
  /* text-decoration: underline; */
}
.header__inner .nav ul li .br {
  color: #133e35;
  font-weight: bold;
  background-color: #00000011;
  border-radius: 10px;
  font-weight: bold;
}
.header__inner .nav ul li .br:hover {
  background-color: #fffbde;
}
.header__inner .log {
  width: 200px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #f4f4f4;
  margin-right: 20px;
  display: flex;
}
.header__inner .log img {
  width: 19px;
  margin-left: 10px;
  height: 20px;
}
.header__inner .log p {
  padding-left: 10px;
  font-size: 17px;
  color: #666;
}
/* contents */
#contents {
  width: 100%;
  /* border: 1px solid #000; */
}
#contents .tittle {
  width: 100%;
  text-align: center;
  line-height: 1.4;
}
#contents .tittle h2 {
  font-size: 50px;
  color: #00ae77;
  font-weight: bold;
  padding-top: 180px;
  text-transform: uppercase;
  margin-bottom: -10px;
  box-sizing: border-box;
}

#contents .tittle p {
  border-bottom: 5px solid #00ae77;
  display: inline-block;
  padding: 10px;
  width: 20px;
}
#contents .image {
  width: 100%;
  padding: 0;
  margin-top: 150px;
  height: 500px;
  background-image: url(../images/newsfinal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#contents .image .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#contents .image .text.t1 {
  margin-top: 5%;
  display: block;
  width: 35%;
  height: 100%;
  filter: drop-shadow(10px 6px 6px #00000060);
  /* i-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); */
}
#contents .image .text.t2 {
  margin-top: 9%;
  filter: drop-shadow(10px 6px 6px #000000be);
}
/* #contents .line */
#contents .container .top {
  padding-top: 80px;
  cursor: pointer;
  margin-top: 50px;
  padding-bottom: 50px;
}
#contents .container .top:hover .highlight:after {
  width: 100%;
}
.highlight {
  display: inline-block;
  position: relative;
  color: #133e35;
}
.highlight:after {
  content: "";
  width: 0;
  height: 55px;
  display: inline-block;
  background: #fdf57b;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #133e35;
  z-index: -1;
  transition: 0.2s all;
}
#contents .container .top em {
  color: #ff5835;
}
#contents .container .top p {
  text-align: start;
  color: #133e35;
  display: block;
  font-size: 50px;
  line-height: 1.2;
  margin-left: 10%;
  font-weight: bold;
  margin-right: 20%;
}
#contents .container .top p:last-child {
  margin-left: 17%;
  margin-right: 5%;
  margin-top: -55px;
  text-align: start;
}

#contents .container p {
  font-size: 18px;
  text-align: center;
}
.top_box {
  display: flex;
  margin-top: 50px;
}
.top_box > div {
  margin: 10px;
}
#contents .top_box .left {
  width: 748px;
  height: 738px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-image: url(../images/greek.jpg);
}
#contents .top_box .left p {
  text-align: start;
  margin-left: 20px;
  color: #fceea3;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
#contents .top_box .left .sm {
  font-size: 16px;
}
#contents .top_box .left .la {
  font-size: 41px;
}
#contents .top_box .left .left_top {
  padding-top: 30%;
  border-bottom: 1px solid #fceea3;
  padding-bottom: 20px;
  margin: 20px;
}
#contents .top_box .left .left_top p {
  line-height: 1.2;
}
#contents .top_box .left .left_bottom {
  text-align: start;
  padding-top: 20px;
  margin: 20px;
}

#contents .top_box .left .left_bottom p {
  line-height: 1.2;
}
#contents .top_box .right {
  width: 748px;
  height: 738px;
  background-color: #d9d9d9;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/newsbbb.jpg);
}
/* .line */
#contents .container .line {
  margin-top: 50px;
  overflow: hidden;
}
#contents .container h3 {
  text-align: center;
  font-size: 80px;
  margin-top: 180px;
  color: #133e35;
}
#contents .line .event_box {
  margin-top: 30px;
  width: 100%;
  /* border: 1px solid #000; */

  display: flex;
  justify-content: center;
}
#contents .line .event_box .box {
  width: 300px;
  height: 350px;
  /* border: 1px solid #000; */
  margin: 0 10px;
}
#contents .line .event_box .box img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
#contents .line .event_box .box p {
  font-size: 18px;
  margin-top: 15px;
}
/* join */
#contents .join {
  width: 100%;
  margin-top: 180px;
  height: 400px;
  background: #133e35;
  border-radius: 10px;
  margin-bottom: 100px;
}
#contents .join p {
  text-align: center;
  color: #fceea3;
  
}
#contents .join p:first-child {
  font-size: 56px;
  padding-top: 10%;
  margin-bottom: 11px;
}
#contents .join p:last-child {
  font-size: 1.68em;
  
}
#contents .join .btn {
  display: inline-block;
  margin-left: 18%;
  margin-top: 47px;
}
#contents .join .btn a:hover {
  background-color: #02f39b6d;
  color: #fff;
}
#contents .join .btn > a {
  margin: 10px;
  background-color: #fceea3;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 25px;
}
#contents .join .btn img {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  margin-top: -1px;
}
#contents .join .tictok img {
  width: 40px;
  height: 40px;
  margin-top: -7px;
}
